//--------class Main-----------
//----Compiling Void Method main----
function Main.main 1
//---- Added a VAR int named value to the local level symbol table----
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0

push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
//----End Subroutine----
//----Compiling Void Method convert----
function Main.convert 3
//---- Added a VAR int named mask to the local level symbol table----
//---- Added a VAR int named position to the local level symbol table----
//---- Added a VAR boolean named loop to the local level symbol table----
push constant 0
not
pop local 2
label Main_convert_1
push local 2
not
if-goto Main_convert_2
push local 1
push constant 1
add
pop local 1

push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
if-goto Main_convert_3
goto Main_convert_4
label Main_convert_3
push argument 0
push local 0
and
push constant 0
eq
not
if-goto Main_convert_6
goto Main_convert_7
label Main_convert_6
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto Main_convert_8
label Main_convert_7
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label Main_convert_8
goto Main_convert_5
label Main_convert_4
push constant 0
pop local 2
label Main_convert_5
goto Main_convert_1
label Main_convert_2
push constant 0
return
//----End Subroutine----
//----Compiling Method nextMask which returns  a int to stack----
function Main.nextMask 0
push argument 0
push constant 0
eq
if-goto Main_nextMask_1
goto Main_nextMask_2
label Main_nextMask_1
push constant 1
return
goto Main_nextMask_3
label Main_nextMask_2
push argument 0
push constant 2
call Math.multiply 2
return
label Main_nextMask_3
//----End Subroutine----
//----Compiling Void Method fillMemory----
function Main.fillMemory 0
label Main_fillMemory_1
push argument 1
push constant 0
gt
not
if-goto Main_fillMemory_2
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
neg
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto Main_fillMemory_1
label Main_fillMemory_2
push constant 0
return
//----End Subroutine----
//-------------End class Main Compilation---------
